.bracket-matcher .region {
  position: absolute;
  box-sizing: border-box;
}

lumine-text-editor:not([mini]).is-focused .bracket-matcher .region {
  border-bottom: 1px solid var(--syntax-cursor-color, currentColor);
}

lumine-text-editor[mini].is-focused .line .bracket-matcher {
  text-decoration-line: underline;
  text-decoration-color: var(--syntax-cursor-color, currentColor);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.35em;
  text-decoration-skip-ink: none;
}

lumine-text-editor.is-focused .line-number.bracket-matcher.bracket-matcher {
  color: var(--syntax-gutter-text-color-selected);
  background-color: var(--syntax-gutter-background-color-selected);
}
